<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">הגדרות</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label class="aria-label text">הגדרות תסריטים:</label>
                </div>
                <div class="col-md-4">
                    <button id="new-scenario" type="button" data-toggle="modal" data-target="#new-update-scenario-modal" class="btn btn-info">צור
                        תסריט חדש</button>
                </div>
                <div class="col-md-4">
                    <button id="update-scenario" type="button" data-toggle="modal" data-target="#new-update-scenario-modal" class="btn btn-info">ערוך
                        תסריט קיים</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <label class="aria-label text">הגדרות פוליגונים:</label>
                </div>
                <div class="col-md-4"><button id="new-polygon" type="button" data-toggle="modal" data-target="#new-update-polygon-modal" class="btn btn-info">צור
                    פוליגון חדש</button></div>
                <div class="col-md-4">
                    <button id="update-polygon" type="button" data-toggle="modal" data-target="#new-update-polygon-modal" class="btn btn-info">ערוך
                        פוליגון קיים</button></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
        </div>
    </div>
</div>